<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>登陆测试</title>
<script type="text/javascript"
src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$(function(){
		$('button#submit').bind('click',function(){
			$.post(
				$SCRIPT_ROOT + '/auth/register',
				{user: $('input[name="email"]').val(),
                 pwd: $('input[name="password"]').val()},
				 function(data){$('div#registerresult').text('success:' + data.success + ' error:' + data.error); console.log(data)},
                "json");
		});
});
$(function(){
		$('button#loginsubmit').bind('click',function(){
			$.post(
				$SCRIPT_ROOT + '/auth/login',
				{user: $('input[name="logemail"]').val(),
                 pwd: $('input[name="logpassword"]').val()},
                function(data){$('div#result').text('success:'+data.success);console.log(data)},
                "json");
		});
});
</script>
</head>
<body>
<h4>Test Register</h4>
<div>
	Email:<input type='email' name='email'> <br />
	Password:<input type="password" name='password'> <br />
	<button type='button' id="submit">提交</button>
	<div id="registerresult"></div>
</div>
<h4>Test Login</h4>
<div>
	Email:<input type='email' name='logemail'> <br />
	Password:<input type="password" name='logpassword'> <br />
	<button type='button' id="loginsubmit">提交</button>
</div>
{% if current_user.is_authenticated %}
{{ current_user.username }}
<br />头像：<br /><img src="{{ url }}" alt="" width="25%" height="25%">
{% else %}
please login
{% endif %}
<div id="result"></div>
<div style='margin-top:20px'>
	进入个人详情页，需要登陆后才行<br />
	<form action="{{ url_for('main.user', username=current_user.username) }}">
		<input type="submit" value='about me'>
	</form>
</div>
<div style="margin-top:20px">
	<form action="{{ url_for('main.upload') }}" method='POST' enctype='multipart/form-data'>
用户上传头像<br />
    <input type='file' name='uploaded_file'>
    <input type='submit' value='Upload' id='upload'>
	</form>
</div>
<div style='margin-top:20px'>
	找人页POST方式请求:<br />
	<form action="{{ url_for('main.findPerson') }}" method='POST'>
	<input type="submit" value="findPersion">
	</form>
</div>
<div style='margin-top:20px'>
	找队伍页POST方式请求：<br />
	<form action="{{ url_for('main.findTeam') }}" method='POST'>
	<input type="submit" value="findTeam">
	</form>
</div>
<div style='margin-top:20px'>
	活动页POST方式请求:<br />
	<form action="{{ url_for('main.findActivity') }}" method='POST'>
	<input type="submit" value="findActivity">
	</form>
</div>
<div style='margin-top:20px'>
	资讯页POST方式请求：<br />
	<form action="{{ url_for('main.info_news') }}" method='POST'>
	<input type="submit" value="info news">
	</form>
</div>
<div style="margin-top:20px">
	<h4>创建团队测试</h4>
	<form action="{{ url_for('auth.createTeam') }}" method='POST'>
		team name:<input type="text" name='team_name'>
		team avatar:<input type='text' name='img'>
		about team:<input type='text' name='des'>
		<input type='submit' value='创建'>
	</form>
</div>
</body>
</html>
