<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>info_news</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/findActivity.css">
	<script src="/static/js/jquery-1.10.2.min.js"></script>
</head>
<body>
	<header>
	    <div class="header">
	        <div class="left">
				<div class="logo left"><a href="{{ url_for('main.index') }}"><img src="/static/image/logo.png" alt="logo" /></a></div>
                <ul class="nav left">
					<li><a href="{{ url_for('main.findPerson') }}">找人</a></li>
					<li><a href="{{ url_for('main.findTeam') }}">找团队</a></li>
					<li><a href="{{ url_for('main.findActivity') }}">活动</a></li>
					<li><a href="{{ url_for('main.info_news') }}">资讯</a></li>
               </ul>
	        </div>
	        <div class="right">
	            <div class="login right">
	                <span id="login">登录<img src="" alt="头像" /></span>
	            </div>
                <div class="message right">
                    <span></span>
                </div>
                <div class="form right">
                     <input class="search" type="text" maxlength="100" placeholder="请输入想要搜索的内容" autocomplete="off" />  
                     <input class="btn_search" type="submit" value="" />   
                </div>
	        </div>
	    </div>
	</header>
	<div class="wrap container">
	    <ul class="bar">
	        <li class="bar_active">最新</li>
	        <li>最热</li>
	    </ul>
	    <div class="list" id="list">
	    </div>
	    <hr class="bot_line" />
	    <hr class="bot_line" />
	    <div class="noMore"><img src="/static/image/noMore.png" alt="nomore" /></div>
	</div>
	<div class="side">
         <ul>
         	<li><a href=""><img src="/static/image/weixinFloat.png" alt="" /></a></li>
         	<li><a href=""><img src="/static/image/newsFloat.png" alt="" /></a></li>
         	<li><a href=""><img src="/static/image/phoneFloat.png" alt="" /></a></li>
         	<li id="getTop"><img src="/static/image/backTopFloat.png" alt="" /></li>
         </ul>
	</div>
	<footer>
	    <div class="footer">
	        <div class="wrap">
	            <ul class="f_contact left">
	    	        <li><a href="">关于我们</a></li>
	    	        <li><a href="">联系我们</a></li>
	    	        <li><a href="">意见反馈</a></li>
	            </ul>
	            <ul class="f_share right">
	    	        <li><a href=""><img src="/static/image/weibo.png" alt="weibo" /></a></li>
	    	        <li><a href=""><img src="/static/image/weixin.png" alt="weixin" /></a></li>
	    	        <li><a href=""><img src="/static/image/qqSpace.png" alt="qone" /></a></li>
	            </ul>
	        </div>
	    </div>
	</footer>
	<script type="text/javascript" src="/static/js/findActivity.js"></script>
	<script type="text/javascript" src="/static/js/common.js"></script>
</body>
</html>
