<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>info_news</title>
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/info_news.css">
	<script src="../js/jquery-1.10.2.min.js"></script>
</head>
<body>
	<header>
	    <div class="header">
	        <div class="left">
                <div class="logo left"><a href="../index.html"><img src="../image/logo.png" alt="logo" /></a></div>
                <ul class="nav left">
                    <li><a href="../html/findPerson.html">找人</a></li>
                    <li><a href="../html/findTeam.html">找团队</a></li>
                    <li><a href="../html/findActivity.html">活动</a></li>
                    <li><a href="../html/info_news.html">资讯</a></li>
               </ul>
	        </div>
	        <div class="right">
	            <div class="login right">
	                <span id="login">登录<img src="" alt="头像" /></span>
	            </div>
                <div class="message right">
                    <span></span>
                </div>
                <div class="form right">
                     <input class="search" type="text" maxlength="100" placeholder="请输入想要搜索的内容" autocomplete="off" />  
                     <input class="btn_search" type="submit" value="" />   
                </div>
	        </div>
	    </div>
	</header>
	<div class="wrap container">
	    <ul class="bar">
	        <li class="bar_active">新闻</li>
	        <li>干货</li>
	        <li>招新</li>
	        <li>比赛</li>
	    </ul>
	    <div class="list" id="list">
	    </div>
	    <hr class="bot_line" />
	    <hr class="bot_line" />
	    <div class="noMore"><img src="../image/noMore.png" alt="nomore" /></div>
	</div>
	<div class="side">
         <ul>
         	<li><a href=""><img src="../image/weixinFloat.png" alt="" /></a></li>
         	<li><a href=""><img src="../image/newsFloat.png" alt="" /></a></li>
         	<li><a href=""><img src="../image/phoneFloat.png" alt="" /></a></li>
         	<li id="getTop"><img src="../image/backTopFloat.png" alt="" /></li>
         </ul>
	</div>
	<footer>
	    <div class="footer">
	        <div class="wrap">
	            <ul class="f_contact left">
	    	        <li><a href="">关于我们</a></li>
	    	        <li><a href="">联系我们</a></li>
	    	        <li><a href="">意见反馈</a></li>
	            </ul>
	            <ul class="f_share right">
	    	        <li><a href=""><img src="../image/weibo.png" alt="weibo" /></a></li>
	    	        <li><a href=""><img src="../image/weixin.png" alt="weixin" /></a></li>
	    	        <li><a href=""><img src="../image/qqSpace.png" alt="qone" /></a></li>
	            </ul>
	        </div>
	    </div>
	</footer>
	<script type="text/javascript" src="../js/info_news.js"></script>
</body>
</html>
