<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>info_news</title>
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/person_message.css">
	<script src="../js/jquery-1.10.2.min.js"></script>
</head>
<body>
	<header>
	    <div class="header">
	        <div class="left">
                <div class="logo left"><a href="../index.html"><img src="../image/logo.png" alt="logo" /></a></div>
                <ul class="nav left">
                    <li><a href="../html/findPerson.html">找人</a></li>
                    <li><a href="../html/findTeam.html">找团队</a></li>
                    <li><a href="../html/findActivity.html">活动</a></li>
                    <li><a href="../html/info_news.html">资讯</a></li>
                    <li><a href="../html/person_team.html">个人</a></li>
               </ul>
	        </div>
	        <div class="right">
	            <div class="login right">
	                <span id="login">登录<img src="" alt="头像" /></span>
	            </div>
                <div class="message right">
                    <span></span>
                </div>
                <div class="form right">
                     <input class="search" type="text" maxlength="100" placeholder="请输入想要搜索的内容" autocomplete="off" />  
                     <input class="btn_search" type="submit" value="" />   
                </div>
	        </div>
	    </div>
	</header>
	<div class="banner">
            <div class="wrap">
                <div class="b_lef left"><img src="../image/myhead.jpg" alt="user_img" /></div>
                <div class="b_rig left">
                    <h1>梅西</h1>
                    <p><span class="u_icon"></span><span>UI设计</span></p>
                    <p class="introduct">他当选了欧洲足球先生和世界足球先生。梅西2008-2009赛季率领球队连夺西甲、国王杯和欧冠三个冠军。</p>
                </div>
            </div>
        </div>
	<div class="wrap container">
	    <ul class="side_left">
	        <li><span>基本信息</span><span class="s_icon"></span></li>
	        <li><span>我的团队</span><span class="s_icon"></span></li>
	        <li><span>我的活动</span><span class="s_icon"></span></li>
	        <li><span>收藏的文章</span><span class="s_icon"></span></li>
	        <li><span>我的消息</span><span class="s_icon"></span></li>
	    </ul>
	    <div class="c_rig">
	        <div class="con_lef">
	            <div class="con_title">
	                <div class="circle left">
	                </div>
	                <div class="con_t left">
	                    <p>系统消息</p>
	                    <p>暂无消息</p>
	                </div>
	            </div> 
	            <ul class="contact_list">
	                <li><span class="contact_name">梅西</span><span class="contact_num"></span></li>
	                <li><span class="contact_name">C罗</span><span class="contact_num"></span></li>
	                <li><span class="contact_name">于大宝</span><span class="contact_num"></span></li>
	                <li><span class="contact_name">罗纳尔多</span><span class="contact_num"></span></li>
	                <li><span class="contact_name">创神牌</span><span class="contact_num"></span></li>
	                <li><span class="contact_name">蜜罐</span><span class="contact_num"></span></li>
	            </ul>
	        </div>
	        <div class="con_rig">
	            <ul class="con_list">
	                <li class="list_1">
	                    <span class="circle left"></span>
	                    <p class="content left">里奥·梅西（Lionel Messi），1987年6月24日出生于圣菲省罗萨里奥市，阿根廷足球运动员。2000年，梅西加入巴塞罗那俱乐部。2005年，阿根廷青年队夺取世青赛冠军，梅西赢得了金.</p>
	                    <p class="time">2016-05-13</p>
	                </li>
	                <li class="list_2">
	                    <span class="circle right"></span>
	                    <p class="content right">里奥·梅西（Lionel Messi），1987年6月24日出生于圣菲省罗萨里奥市，阿根廷足球运动员。2000年，梅西加入巴塞罗那俱乐部。2005年，阿根廷青年队夺取世青赛冠军，梅西赢得了金.</p>
	                    <p class="time">2016-05-13</p>
	                </li>
	            </ul>
                <div class="comment">
                    <span class="expression"></span>
                    <span class="photo"></span>
                    <input type="text" class="repeat_text" placeholder="请输入你想要回复的内容" />
                    <input type="submit" class="repeat_submit" value="发送" />
                </div>
	        </div>
	    </div>
	</div>
	<div class="side">
         <ul>
         	<li><a href=""><img src="../image/weixinFloat.png" alt="" /></a></li>
         	<li><a href=""><img src="../image/newsFloat.png" alt="" /></a></li>
         	<li><a href=""><img src="../image/phoneFloat.png" alt="" /></a></li>
         	<li id="getTop"><img src="../image/backTopFloat.png" alt="" /></li>
         </ul>
	</div>
	<footer>
	    <div class="footer">
	        <div class="wrap">
	            <ul class="f_contact left">
	    	        <li><a href="">关于我们</a></li>
	    	        <li><a href="">联系我们</a></li>
	    	        <li><a href="">意见反馈</a></li>
	            </ul>
	            <ul class="f_share right">
	    	        <li><a href=""><img src="../image/weibo.png" alt="weibo" /></a></li>
	    	        <li><a href=""><img src="../image/weixin.png" alt="weixin" /></a></li>
	    	        <li><a href=""><img src="../image/qqSpace.png" alt="qone" /></a></li>
	            </ul>
	        </div>
	    </div>
	</footer>
</body>
</html>