<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
	<script src="{{ url_for('static', filename='./js/jquery-1.10.2.min.js') }}"></script>
</head>
<body>
	<header>
	    <div class="header">
	        <div class="left">
				<div class="logo left"><a href="#"><img src="{{ url_for('static', filename='./image/logo.png') }}" alt="logo" /></a></div>
                <ul class="nav left">
					<li><a href="{{ url_for('main.findPerson') }}">找人</a></li>
					<li><a href="{{ url_for('main.findTeam') }}">找团队</a></li>
					<li><a href="{{ url_for('main.findActivity') }}">活动</a></li>
					<li><a href="{{ url_for('main.info_news') }}">资讯</a></li>
					<li><a href="{{ url_for('main.person_team') }}">个人</a></li>
               </ul>
	        </div>
	        <div class="right">
	            <div class="login right">
	                <span id="login">登录<img src="" alt="头像" /></span>
	            </div>
                <div class="message right">
                    <span></span>
                </div>
                <div class="form right">
                     <input class="search" type="text" maxlength="100" placeholder="请输入想要搜索的内容" autocomplete="off" />  
                     <input class="btn_search" type="submit" value="" />   
                </div>
	        </div>
	    </div>
	</header>
	<div class="banner" id="banner">
		<ul class="img" id="banner_img">
			<li>
			<a  href="#"><img src="{{ url_for('static', filename='./image/banner1.jpg') }}" /></a>
			</li>
			<li>
			<a  href="#"><img src="{{ url_for('static', filename='./image/banner2.jpg') }}" /></a>
			</li>
			<li>
			<a href="#"><img src="{{ url_for('static', filename='./image/banner3.jpg') }}" /></a>
			</li>
		</ul>
		<ul class="num" id='banner_num'></ul>
		<div class="btn btn_left" id="banner_lef"></div>
		<div class="btn btn_right" id="banner_rig"></div>
	</div>
	<div class="container">
	   <div id="part1" class="part1 part">
            <h3>团队与人才的寻找</h3>
            <p>这里是一片对大标题的解释，应该更加详细介绍应该更加详细介绍应该更加详细介绍</p>
            <div class="part_img1">
				<img id="part1_hand" src="{{ url_for('static', filename='./image/part1_hand.png') }}" alt="handon" />
                <div class="part1_find">
					<img id="part1_find" src="{{ url_for('static', filename='./image/part1_find.png') }}" alt="find" />
					<img id="part1_big" src="{{ url_for('static', filename='./image/part1_big.png') }}" alt="bebig" />
                </div>
            </div>
	   </div>
	   <div id="part2" class="part2 part">
	         <h3>活动创建寻队友</h3>
            <p>这里是一片对大标题的解释，应该更加详细介绍应该更加详细介绍应该更加详细介绍</p>
			<img id="part2_start1" src="{{ url_for('static', filename='./image/part2_start.png') }}" alt="part2_img" />
			<img id="part2_start2" src="{{ url_for('static', filename='./image/part2_start.png') }}" alt="part2_img" />
			<img id="part2_start3" src="{{ url_for('static', filename='./image/part2_start.png') }}" alt="part2_img" />
			<img id="part2_light1" src="{{ url_for('static', filename='./image/part2_light1.png') }}" alt="part2_img" />
			<img id="part2_light2" src="{{ url_for('static', filename='./image/part2_light2.png') }}" alt="part2_img" />
			<img id="part2_person" src="{{ url_for('static', filename='./image/part2_person.png') }}" alt="part2_img" />
			<img id="part2_find" src="{{ url_for('static', filename='./image/part2_find.png') }}" alt="part2_img" />
	   </div>
	   <div id="part3" class="part3 part">
	        <h3>创新创业校园资讯</h3>
	        <div class="part3_con">
	            <p>这里是一片对大标题的解释，应该更加详细介绍应该更加详细介绍应该更加详细介绍</p>
				<img id="part3_clock" src="{{ url_for('static', filename='./image/part_clock.png') }}" alt="part3" />
	        </div>
	       <div class="part3_img">
	           <img id="part3_new" src="/static/image/part3_new.png" alt="" />
	           <img id="part3_good" src="/static/image/part3_good.png" alt="" />
	           <img id="part3_bisai" src="/static/image/part3_bisai.png" alt="" />
	           <img id="part3_zhaoxin" src="/static/image/part3_zhaoxin.png" alt="" />
	           <img id="part3_page" src="/static/image/part3_page.png" alt="" /> 
	       </div>
	   </div>
	   <div id="part4" class="part4 part">
	      <h3>下载创森派，让人才资源对接更快速</h3>
	       <div class="part4_con">
	            <p><span id="part4_ad"></span><span id="part4_ios"></span></p>
				<img id="part4_qcode" src="{{ url_for('static', filename='./image/part_qcode.png') }}" alt="part4" />
	        </div>
			<p class="part4_img"><img id="part4_Android" src="{{ url_for('static', filename='./image/part4_Android.png') }}" alt="part4" /><img id="part4_AndroidRig" src="{{ url_for('static', filename='./image/part4_AndroidRig.png') }}" alt="part4" /></p>
			<img id="part4_phone" src="{{ url_for('static', filename='./image/part4_phone.png') }}" alt="part4"  />
	   </div>
	   
	</div>
	<footer>
	    <div class="footer">
	        <ul class="f_img">
	        	<li class="fa1"><a href=""></a></li>
	        	<li class="fa2"><a href=""></a></li>
	        	<li class="fa3"><a href=""></a></li>
	        </ul>
	        <ul class="f_contact">
	        	<li><a href="">关于我们</a></li>
	        	<li><a href="">联系我们</a></li>
	        	<li><a href="">意见反馈</a></li>
	        </ul>
	    </div>
	</footer>
	<script type="text/javascript" src="{{ url_for('static', filename='./js/index.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='./js/common.js') }}"></script>
</body>
</html>
